<div class="row">
   <div class="col-sm-6">   
      <h1>Add Bookings<h1/>  

		<form class="form-horizontal" id="formadd">
		  <fieldset>
		    <div class="form-group">
		      <label for="addname" class="col-lg-2 control-label">Your Name</label>
		      <div class="col-lg-10">
		        <input type="text" class="form-control" id="addname" required>
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="addemail" class="col-lg-2 control-label">Phone No.</label>
		      <div class="col-lg-10">
		        <input type="text" class="form-control" id="addemail" required>
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="addmobileno" class="col-lg-2 control-label">Total Person</label>
		      <div class="col-lg-10">
		        <input type="number" class="form-control" id="addmobileno" required>
		      </div>
		    </div>

		    <div class="form-group">
		      <label for="adddate" class="col-lg-2 control-label">Date Travel</label>
		      <div class="col-lg-10">
		        <input type="date" class="form-control" id="dateTravel"  required>
		      </div>
		    </div>

			<div class="form-group">
		      <label for="addid" class="col-lg-2 control-label"></label>
		      <div class="col-lg-10">
		        <input type="text" class="form-control hidden" id="idTravel" value="{{IDTRAVEL}}" required >
		      </div>
		    </div>

		    <div class="form-group">
				<div class="col-lg-10 col-lg-offset-2">
		        	<button type="reset" class="btn btn-default" id="formaddcancel">Cancel</button>
					
					<button type="submit" class="btn btn-primary">Submit</button>
		      </div>
		    </div>
		  </fieldset>
		</form>    
   </div>
</div>