<div class="row">
   <div class="col-sm-6">   
      <h1>Add Tourism Package<h1/>  

		<form class="form-horizontal" id="formadd">
		  <fieldset>
		    <div class="form-group">
		      <label for="addname" class="col-lg-2 control-label">Package Name</label>
		      <div class="col-lg-10">
		        <input type="text" class="form-control" id="addname" required>
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="addemail" class="col-lg-2 control-label">Price</label>
		      <div class="col-lg-10">
		        <input type="text" class="form-control" id="addemail" required>
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="addmobileno" class="col-lg-2 control-label">Total Day</label>
		      <div class="col-lg-10">
		        <input type="text" class="form-control" id="addmobileno" required>
		      </div>
		    </div>
			<div class="form-group">
		      <label for="addgender" class="col-lg-2 control-label">Airline Name</label>
		      <div class="col-lg-10">
		        <select class="form-control" id="addgender">
		        	 <option value='-1' selected>Please select airline</option>
		        	 <option value='0'>Malaysia Airline</option>
		        	 <option value='1'>AirAsia</option>
		        </select>
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="adddob" class="col-lg-2 control-label">Date Travel</label>
		      <div class="col-lg-10">
		        <input type="text" class="form-control" id="adddob" required>
		      </div>
		    </div>		    
		    <div class="form-group">
		      <div class="col-lg-10 col-lg-offset-2">
		        <button type="reset" class="btn btn-default" id="formaddcancel">Cancel</button>
		        <button type="submit" class="btn btn-primary">Submit</button>
		      </div>
		    </div>
		  </fieldset>
		</form>    
   </div>
</div>