<div class="row">
	<div class="col-sm-12">
		<div class="col-sm-6">   
	     	<h1>Booking List</h1>

			<h2>Total Booking : </h2>
			<h2>Total Booked (Not Approved) : </h2>
			<h2>Total Approved : </h2>
		</div>
	</div>	
</div>