<div class="row">
  	<div class="col-sm-6">   
     	<h1>Login Page</h1>

		<form class="form-horizontal" id="loginform">
		  <fieldset>
		    <div class="form-group">
		      <label for="loginformusername" class="col-lg-2 control-label">Username</label>
		      <div class="col-lg-10">
		        <input type="text" class="form-control" id="loginformusername" required>
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="loginformpassword" class="col-lg-2 control-label">Password</label>
		      <div class="col-lg-10">
		        <input type="password" class="form-control" id="loginformpassword" required>
		      </div>
		    </div>
		    <div class="form-group">
		      <div class="col-lg-10 col-lg-offset-2">
		      	<a href="#register" class="btn btn-info">
     			     Register
     		    </a>
     		    <a href="#forgotpassword" class="btn btn-info">
     			     Forgot Password
     		    </a>
		        <button type="submit" class="btn btn-primary">Login</button>
		      </div>
		    </div>
		  </fieldset>
		</form>
  	</div>
</div>