<div class="row">
  	<div class="col-sm-12">   
     	<h1>FISSAD Travel & Tours connects the world to, and through, our global hub in Malaysia. We operate modern, efficient and comfortable aircraft, and our culturally diverse workforce delivers award-winning services to our customers across six continents every days.</h1>
  	</div>
</div>