<div class="row">
  	<div class="col-sm-6">   
     	<h1>Forgot Password</h1>

		<form class="form-horizontal" id="forgotpasswordform">
		  <fieldset>
		    <div class="form-group">
		      <label for="forgotpasswordemail" class="col-lg-2 control-label">Email</label>
		      <div class="col-lg-10">
		        <input type="email" class="form-control" id="forgotpasswordemail" required>
		      </div>
		    </div>
		    <div class="form-group">
		      <div class="col-lg-10 col-lg-offset-2">
		        <a href="#register" class="btn btn-info">
     			     Register
     		     </a>	
     		     <a href="#login" class="btn btn-info">
     			     Login
     		     </a> 	
		        <button type="submit" class="btn btn-primary">Submit</button>
		      </div>
		    </div>
		  </fieldset>
		</form>
  	</div>
</div>